*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Poppins', sans-serif;

}

.hero img{
    width: 100%;
}
@media only screen and (max-width: 600px){

    .profile{
        /* display: flex; */
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .profile-img{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        
    }
    .profile-name{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .profile-img img{
        border-radius: 50%;
        width: 120px; 
        height: 110px; 
    }
    .img-svg{
        display: flex;
        justify-content: space-evenly;
        
       
    }
    .icons{
        padding-top: 10px;
    }
    .names{
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 30px;
    }
    .button{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;    
    }
    .button h1{
        padding-bottom: 10px;
    }
    .btn{
        font-family: 'Poppins',sans-serif;
        background-color: lightcoral;
        color: #fff;
        padding-left: 150px;
        padding-right: 150px;
        padding-top: 5px;
        padding-bottom: 5px;
        border: 1px solid grey;
        cursor: pointer;
        }
    .btn:hover{
        background-color: red;
    }


    .about{
        margin-top: 40px;
        padding-top: 50px;
        border-top: 1px solid grey;
        border-bottom: 1px solid grey;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about h1{
        padding-bottom: 20px;
    } 
    .about p{
        padding-left: 10px;
        padding-bottom: 10px;
    } 
    .about h3{
        color: red;
        padding-bottom: 20px;
        
    }
    .details{
        display: flex;
        flex-direction: column;
        padding-top: 10px;
        padding-left: 10px;
        padding-bottom: 30px;
        
        

    }
    footer{
        border-top: 1px solid grey;
    }
    footer img{

        width: 100%;
        
    } 
}

@media only screen and (min-width: 1060px) {
    .profile{
        background-color: red;
    }
}
